* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
h2{
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

span{
  font-size: 30px;
}
p{
  font-size: 20px;
}